body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header {
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 30px auto 30px auto;
    padding: 15px 25px;
    border-radius: 8px;
    box-sizing: border-box;
}

main {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    padding: 2rem 0;
}

main.none-columns {
    grid-template-columns: auto;
}

section {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2,
section h4 {
    margin: 0;
}

section p {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

section p span {
    flex: 1;
    text-align: center;
}

section p span:first-child {
    text-align: left;
}

section p span:last-child {
    text-align: right;
}

h1 {
    text-align: center;
    color: #333;
}

form,
table {
    width: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input,
select {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4c82af;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #456fa0;
}

button.cancel {
    background-color: #a30000;
}

button.cancel:hover {
    background-color: #7c0000;
}

a {
    color: #2196F3;
    text-decoration: none;
    padding: 5px 10px;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table th,
table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table tr.red {
    background: red;
}

table tr.blue {
    background: blue;
}

table tr.blue a,
table tr.red a,
table tr.blue,
table tr.red {
    color: #fff;
}

#popup {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    padding: 10px 18px;
    background: #4c82af;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    z-index: 1000;
}

.login {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}